<h1>New Game</h1>
<!-- <p>Find me in app/views/games/new.html.erb</p> -->
<style>
  .list {
  list-style: none;
  padding-left: 0px;
}

.list li {
  display: inline-block;
  padding: 0px 20px;
  width: 40px;
  background-color: lightblue;
</style>

<ul class="list">
<% @letters.each do |letter| %>
<li><h1><%= letter %></h1></li>
<% end %>
</ul>
